@media screen and (max-width: 768px) {
    .login-popup,
    .login-signup-container,
    .login-fields{
        width: 380px !important;
        height: 430px !important;
        flex-direction: column;
        align-items: center;
    }

    .login-fields {
        padding: 0 !important;
        justify-content: space-evenly !important;
    }

    .login-top {
        padding: 0 !important;
        margin: 0px !important;
        margin-top: 30px !important;
        width: 300px;
    }

    .login-top p, span{
        margin: 0;
    }

    .login-banner {
        display: none;
    }

    .login-buttons,
    .login-top,
    .listtta-terms {
        width: 300px;
    }

    .listtta-terms p{
        text-align: center !important;
        font-size: 12px !important;
    }

    .login-buttons {
        margin: 0 !important;
        align-items: center !important;
    }

    .login-buttons button,
    .other-methods button {
        position: relative;
        padding: 10px !important;
    }

    .login-buttons button img,
    .other-methods button img{
        position: absolute;
        left: 10px;
        width: 20px !important;
    }

    .login-breaker p {
        margin: 0;
    }

    .listtta-terms p {
        margin: 0;
    }

    /*LoginType Screen*/

    .login-type-popup-block-content img{
        height: 80px !important;
    }

    .login-type-popup-block-content span {
        font-size: 20px;
        font-weight: 600;
    }

    .login-type-popup-block-two {
        margin-top: 20px !important;
    }

    .login-type-popup-block-content .block-two-img {
        height: 60px !important;
        width: 90px !important;
    }

    .login-type-popup-block {
        border: 0 !important;
    }

}

.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.login-close-button img{
    width: 20px;
}

.login-popup {
    position: relative;
    width: 100%;
    max-width: 850px;
    max-height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
}
.login-close-button{
    position: absolute;
    top: 16px;
    right: 16px;
}

.login-signup-container {
    display: flex;
    width: 850px;
    height: 607px;
}

.login-signup-container .login-banner img{
    border-radius: 20px 0 0 20px;
    height: 600px;
}

.login-fields {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-top {
    padding-top: 80px;
}

.login-top p {
    color: var(--black-text);
    font-weight: 600;
    font-size: 20px;
}

.login-top span{
    font-weight: normal;
    color: #3e4042;
    text-align: start;
    font-size: 11px;
}


.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.login-buttons {
    gap: 10px;
}

.login-buttons button {
    margin: 0;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    border: 1px solid #e5e6e9;
    background-color: transparent;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}

.login-buttons span {
    margin-right: 60px;
    color: #2e3032 !important;
} 

.login-buttons button img {
    width: 28px;
}

.login-breaker p {
    font-size: 14px;
    font-weight: 600;
    color: var(--grey-text);
}

.other-methods {
    display: flex;
    gap: 10px;
}

.other-methods  button {
    width: 150px;
    padding: 7px 20px !important;
}

.listtta-terms p {
    text-decoration: none;
    font-size: 11px;
    text-align: justify;
}

.listtta-terms p, a {
    color: #404040;
}

#login-type-hidden {
    display: none;
}

.login-type-popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-type-popup h1 {
    font-size: 20px;
}

.login-type-popup-block-one {
    display: flex;
    gap: 20px;
}

.login-type-popup-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1C2545;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.login-type-popup-block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
}



.login-type-popup-block span {
    margin-top: 10px;
}

.login-type-popup-block a {
    text-decoration: none;
}

.login-type-popup-block img {
    height: 120px;
}

.login-type-popup-block-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.block-two {
    width: 200px;
}

.login-type-popup-block .block-two-img {
    height: 90px;
    width: 110px;
}

.user-signup-div {
    display: none ;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 !important;
}

.signup-input{
    display: flex;
    flex-direction: column;

}

.filters-dropdown-menu {
    position: relative;
    display: inline-block;
}

.filters-dropdown-content-desktop {
    overflow-y: auto;
    background-color: #ffffff;
    height: 220px;
    min-width: 260px;
    z-index: 1;
    border-radius: 15px;
    border: 3px solid #D7D6D6;
    display: none;
    position: absolute;
}

.filters-dropdown-menu {
    position: relative;
    display: inline-block;
}

.filters-dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10px;
}

.filters-dropdown-content {
    overflow-y: auto;
    background-color: #ffffff;
    height: 220px;
    width: 400px;
    z-index: 1;
    border-radius: 15px;
    border: 3px solid #D7D6D6;
}

.dropdown-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.dropdown-li {
    margin-bottom: 10px;
}

.dropdown-li span {
    margin: 0 20px;
}

.dropdown-li:hover {
    background-color: #F3F3F3;
    cursor: pointer;
}

.login-signup-hidden,
login-type-hidden,
user-signup {
    display: none;
}

