.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.login-close-button img{
    width: 20px;
}

.login-popup {
    position: relative;
    width: 100%;
    max-width: 850px;
    max-height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
}
.login-close-button{
    position: absolute;
    top: 16px;
    right: 16px;
}

.login-signup-container {
    display: flex;
    width: 850px;
    height: 607px;
}

.login-signup-container .login-banner img{
    border-radius: 20px 0 0 20px;
    height: 600px;
}

.login-fields {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-top {
    padding-top: 80px;
}

.login-top p {
    color: var(--black-text);
    font-weight: 600;
    font-size: 20px;
}

.login-top span{
    font-weight: normal;
    color: #3e4042;
    text-align: start;
    font-size: 11px;
}


.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.login-buttons {
    gap: 10px;
}

.login-buttons button {
    margin: 0;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
    border: 1px solid #e5e6e9;
    background-color: transparent;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}

.login-buttons span {
    margin-right: 60px;
    color: #2e3032 !important;
} 

.login-buttons button img {
    width: 28px;
}

.login-breaker p {
    font-size: 14px;
    font-weight: 600;
    color: var(--grey-text);
}

.other-methods {
    display: flex;
    gap: 10px;
}

.other-methods  button {
    width: 150px;
    padding: 7px 20px !important;
}

.listtta-terms p {
    text-decoration: none;
    font-size: 11px;
    text-align: justify;
}

.listtta-terms p, a {
    color: #404040;
}

#login-type-hidden {
    display: none;
}

.user-chosser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.who-you-are h1 {
    font-size: 20px;
}

.who-you-are-block-one {
    display: flex;
    gap: 20px;
}

.who-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1C2545;
    border-radius: 10px;
    padding: 40px;
}

.who-block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.who-block span {
    margin-top: 10px;
}

.who-block a {
    text-decoration: none;
}

.who-block img {
    height: 120px;
}

.who-you-are-block-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.block-two {
    width: 200px;
}

.who-block .block-two-img {
    height: 90px;
    width: 110px;
}