@media screen and (max-width: 768px) {
  .login-form { 
    margin: 10px; 
    width: auto !important;
  }
}

.login-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-form .signup-fields {
  padding: 0;
}

.login-form {
  width: 352px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  margin-left: 10px;
}

