.edit-button {
	color: #ff083b;
	cursor: pointer;
}

.profile-image-input {
	position: relative;
}

.profile-image-placeholder {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
}
