.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.pagination-button.active {
    background-color: #ff093b;
    color: #fff;
    border-color: #ff093b;
}

.pagination-ellipsis {
    padding: 5px 10px;
    color: #000;
}