@media screen and (max-width: 1200px) {
    .filters-container-desktop {
        display: none !important;
    }
}

.filters-section {
    margin-bottom: 20px;
}

.categories-filters {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.checkbox-round {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}

.filters-span span {
    font-size: 18px;
    color: #343434;
}

.filters-btn {
    background-color: transparent;
    border: 1px solid #343434;
    color: black;
    width: 300px;
}

.filters-container-desktop {
    min-width: 340px;
    background-color: #f8f8fa;
    padding: 3%;
    height: max-content;
}

.filters-section-desktop {
    text-align: left;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.filters-btn-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 270px;
    margin: 0 0 10px 0;
}

.filters-btn-desktop span {
    position: absolute;
    right: 10px;
    color: var(--black-text);
}

.filters-dropdown-menu {
    position: relative;
    display: inline-block;
}

.filters-dropdown-content-desktop {
    overflow-y: auto;
    background-color: #ffffff;
    height: 220px;
    min-width: 260px;
    z-index: 1;
    border-radius: 15px;
    border: 3px solid #D7D6D6;
    display: none;
    position: absolute;
    margin-top: 10px;
}

.filters-desktop {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
}

.filters-desktop-center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters-desktop-left-div {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.mbt-10 {
    margin-top: 10px;
}