:root {
    --white-text: #ffffff;
    --span-red: #ff073b;
    --grey-text: #c3c4c6;
    --white-border: #ffffff;
    --footer-container-color: #131829;
    --footer-top-line: #FD083B;
    --footer-bottom: #0E1323;
    --home-banner-color: #0C1020;
    --default-button: #FF093B;
    --sponser-div: #F4F4F4;
    --home-search: #0E1323;
    --home-blog-section-text: #313131;
    --filters-container: #f8f8fa;
    --black-text: #000000;

    --faq-page-banner: #1b2038;

    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;

    --home-banner: url('/Assets/imgs/banners/main-banner.png');
    --home-second-banner: url('/Assets/imgs/banners/descont-banner.png');
    --home-second-banner-responsive: url('/Assets/imgs/banners/descont-banner-responsive.png');
    --search-banner: url('/Assets/imgs/banners/search-banner.png');

    /* buttons imgs */
    
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 15px;
    margin: 0 20%;
}

.default-input {
    border: 1px solid #384676;
    border-radius: 50px;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    outline: none;
}